In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('weather_data.csv')
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [7]:
df[2:4]

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [12]:
df[['day','temperature']]

          day  temperature
0  01/01/2017           32
1  01/02/2017           35
2  01/03/2017           28
3  01/04/2017           24
4  01/05/2017           32
5  01/06/2017           32

In [19]:
print('Maximum Temperature is: ', df['temperature'].max())
print('Average Temperature is: ',df['temperature'].mean())

Maximum Temperature is:  35
Average Temperature is:  30.5

In [23]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df[['day','temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01/02/2017           35

In [30]:
new_df = df.set_index('day')
new_df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
01/02/2017           35          7  Sunny
01/03/2017           28          2   Snow
01/04/2017           24          7   Snow
01/05/2017           32          4   Rain
01/06/2017           32          2  Sunny

In [32]:
new_df.loc['01/01/2017']

temperature      32
windspeed         6
event          Rain
Name: 01/01/2017, dtype: object